<html lang='en'>
<head>
  <meta charset="utf-8" />
  <title>Hello world!</title>
  <link type="text/css" rel="stylesheet"
        href="{{ url_for('static',
              filename='hello.css')}}" />
</head>
<body>

  <h1>The Jinja templating language</h1>

  <p>
  With the Jinja templating engine, we can display Python object in our HTML templates. 
  </p>

  <p>
  Our superheroes are in this list:
  </p>

  <p>
  {{ heroes }}
  </p>

  <hr/>

  <p>
  {{ heroes[0].name }} VS {{ heroes[1].name }}
  </p>

  <hr/>

  <p>Jinja supports `for` loops:</p>

    {% for hero in heroes %}
      {{ hero }}
    {% endfor %}

    <hr/>

  <p>To make this more readable, we can wrap the hero names in a HTML list:</p>


  <p>
    <ul>
    {% for hero in heroes %}
      <li>{{ hero }} has {{ hero.life }} health points left</li>
    {% endfor %}
    </ul>
  </p>

  <hr/>

  <p>We can also use images in our web pages:</p>

  <img src="{{ heroes[0].image_path }}" style="width: 300px" />
  <img src="{{ heroes[1].image_path }}" style="width: 300px" />
 
</body>
</html>
